.topbar{
    width: 100%;
    background-color: #333;
    height: 40px;
    line-height: 40px;
}
.left-contain,.left-contain li,.right-contain li{
    float: left;
}
.right-contain {
    float: right;
}
.topbar a{
    font-size: 12px;
    color: rgb(176, 176, 176);
    display: block;
    margin: 0 8px 0 0;
}
.topbar a:hover{
    color: #fff;
}
.left-contain li:not(:last-child) a::after,.right-contain li:nth-child(-n+2) a::after{
    content: "|";
    font-size: 12px;
    margin-left: 8px;
    color: rgb(66, 66, 66);
}
.right-contain li:nth-child(3){
    margin-right:17px ;
}
.right-contain li:nth-child(4){
    width: 120px;
    height: 40px;
    background-color: rgba(66, 66, 66,.8);
    text-align: center;
}
.right-contain li:nth-child(4) a{
    margin: 0;
}
.right-contain li:nth-child(4){
    position: relative;
}
.right-contain li:nth-child(4) a{
    position: relative;
    z-index: 999;
}
.right-contain li:last-child span{
    margin-left: 2px;
}
.right-contain .iconfont{
    vertical-align: middle;
    margin-right: 2px;
    font-size: 20px;
    font-weight: bold;
}
.right-contain  li:last-child:hover a{
    background-color: #fff;
    color: rgb(255, 103, 0);
}
.right-contain .buy::before{
    content: "购物车中还没有商品，赶紧选购吧！";
    width: 316px;
    height: 0px;
    overflow: hidden;
    background-color: #fff;
    position: absolute;
    top: 40px;
    left: -196px;
    box-shadow: 0px 0px 4px rgb(41, 40, 40,.3);
    transition: height .3s;
    z-index: 99;
}
.buy:hover::before{
    font: 12px "微软雅黑";
    color: #000;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
.topbar .tcode{
    width: 124px;
    height: 0px;
    overflow: hidden;
    background-color: #fff;
    position: absolute;
    box-shadow: 0px 0px 4px rgb(41, 40, 40,.3);
    text-align: center;
    line-height: 1;
    left: -32px;
    transition: height .3s;
    z-index: 8888;
}
.topbar .tcode img{
    width: 90px;
    margin: 17px;
    margin-bottom: 10px;
}
.topbar .tcode span{
   color: #000;
   font-size: 14px;
}
.app::before {
    display: none;
    content: "";
    border: 10px solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    position: absolute;
    bottom: 0;
    left: 20px;
    z-index: 333;
}
.topbar .app{
    position: relative;
}
.app:hover .tcode,
.app:hover::before{
    display: block;
    height: 148px;
}
.header{
    height: 100px;
}
.header .logo{
    position: relative;
    width: 55px;
    height: 55px;
    overflow: hidden;
    margin: 23px 0 22px 0;
    float: left;
    text-indent: -999999px;
}
.header .logo a{
    width: 55px;
    height: 55px;
    background-color: #ff6700;
    background-image: url("../img/mi-logo.png");
    background-position: center;
    position: absolute;
    transition: left .3s;
    left: 0;
}
.header .logo .home{
    background-image: url("../img/mi-home.png");
    left: -55px;
}
.header .logo:hover .mi{
    left: 55px;
}
.header .logo:hover .home{
    left: 0;
}
.nav-wrap,.nav li{
    float: left;
}
.nav-wrap{
    height: 100px;
    line-height: 100px;
    margin-left: 6px;
    padding-left: 80px;
}
.nav-wrap a{
    display: block;
    margin-right: 20px;
    font-size: 16px;
    color: rgb(51, 51, 51);
}
.nav .all-goods .spfl{
    visibility: hidden;
}
.nav>li:not(:first-child):hover a{
    color: #ff6700;
}
.header-wrap{
    position: relative;
}
.header-wrap .show-goods{
    position: absolute;
    width: 100%;
    height: 0px;
    background-color: #fff;
    top: 100px;
    left: 0;
    z-index: 99999;
    box-shadow: 0 4px 6px rgba(80, 78, 78, 0.3);
    overflow: hidden;
    transition: height .3s;
}
.nav .show:hover ~ .show-goods,
.nav .show-goods:hover{
    height: 228px; 
    border-top: 1px solid rgb(224, 224, 224);
}
.search-wrap{
    width: 296px;
    margin-top: 25px;
    float: right;
    background-color: red;
}
.search-wrap .search{
    border: none;
    padding: 0;
    height: 50px;
    width: 244px;
    border: 1px solid rgb(224, 224, 224);
    box-sizing: border-box;
    vertical-align: bottom;
    padding: 0 10px 0 10px;
    font-size: 14px;
    color: rgb(51, 51, 51);
    border-right:none ;
    outline: none;
}
.search-wrap .button{
    height: 50px;
    width: 52px;
    border: 1px solid rgb(224, 224, 224);
    background-color: #fff;
    outline: none;
}
.search-wrap .button i.iconfont{
    font-size: 24px;
    color: rgb(97, 97, 97);
}
.search-wrap .form:hover .search,.search-wrap .form:hover .button{
    border-color:rgb(176, 176, 176);
}
.search-wrap .button:hover i.iconfont,.search-wrap .form .button:hover {
    border: none;
    color: #fff;
    background-color: #ff6700;
 }
.search-wrap .form .search:focus,.search-wrap .search:focus+.button{
    border-color:  #ff6700;
}
.nav .left-nav{
    width: 234px;
    height: 460px;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    z-index: 888;
    left: -142px;
    box-sizing: border-box;
    padding: 20px 0;
}
.nav .all-goods{
    position: relative;
}
.nav .left-nav a{
    display: block;
    width: 234px;
    font-size: 14px;
    color: #fff;
    line-height: 42px;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
}
.nav .left-nav a:hover{
    color: #fff;
    background-color: #ff6700;
}
.nav .left-nav span{
    font-size: 18px;
    font-weight: bold;
    float: right;
    color: rgba(255,255,255,.8);
}
.banner img{
    width: 100%;
}
.banner{
    position: relative;
    height: 460px;
    overflow: hidden;
}

.banner .pointer{
    position: absolute;
    right: 40px;
    bottom: 40px;
}
.pointer a{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,.4);
    float: left;
    margin-right: 8px;
    background-color: rgba(0,0,0,.4);
}
.pointer a:hover,.pointer .active{
    border-color: rgba(0,0,0,.4);
    background-color: rgba(255,255,255,.4);
}
.prep-next a{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 42px;
    height: 70px;
    background-image: url("../img/icon-slides.png");
}
.prep-next .prep{
    display: none;
    background-position: -84px 0;
    left:233px ;
}
.prep-next .next{
    display: none;
    background-position: -124px 0;
    right: 0;
}
.prep-next .prep:hover{
    background-position: 0 0;
}
.prep-next .next:hover{
    background-position: -42px 0;
}
.fix{
    width: 26px;
    height: 206px;
    position: fixed;
    background-color: orange;
    right: 50%;
    margin-right: -639px;
}
.adv{
    margin-top: 14px;
}
.adv .intro{
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    margin-right: 14px;
    padding-top: 2px;
    box-sizing: border-box;
    padding-left: 6px;
}
.adv .intro,.adv .img-list>div{
    float: left;
}
 .adv .img-list img{
    width: 316px;
    margin-right: 15px;
}
.adv .img-list div:last-child img{
    margin-right: 0;
}
.adv .intro li a{
    display: block;
    height: 84px;
    width: 76px;
    font-size: 12px;
    color: rgb(167, 162, 158);
    text-align: center;
    box-sizing: border-box;
    padding: 20px 0 0 0;
}
.adv .intro a i.iconfont{
    display: block;
    font-size: 20px;
    margin-bottom: 6px;
}
.adv .intro a:hover{
    color: #fff;
}
.adv .intro li {
    float: left;
    position: relative;
}
.adv .intro li::before{
    position: absolute;
    content: "";
    width: 64px;
    height: 1px;
    background-color: rgb(102, 94, 87);
    left: 0;
    right: 0;
    margin: 0 auto;
}
.adv .intro li::after{
    content: "";
    height: 70px;
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: rgb(102, 94, 87);
}